{% extends 'layout.html' %}

{% block body %}

<h1>EV3 Hub Webserver</h1>
<form action="/IP" method="POST">
    <input type="text" name="submit" placeholder="IP Address" id="ev3ip">
    <input type="submit" name="Connect" value="connect" onclick="myFunction()">
</form>
<form action="/" method="POST">
    <p>Control EV3 Onboard LEDs</p>
    <input type="submit" name="submit" value="Red">
    <input type="submit" name="submit" value="Orange">
    <input type="submit" name="submit" value="Yellow">
    <input type="submit" name="submit" value="Green">
    <input type="submit" name="submit" value="Off">
    <p>Drive EV3</p>
    <input type="submit" name="submit" value="Left">
    <input type="submit" name="submit" value="Forward">
    <input type="submit" name="submit" value="Right">
    <input type="submit" name="submit" value="Backward">
    <input type="submit" name="submit" value="Stop">
</form>
<form action="/" method="POST">
     <input type="range" name="submit" min="0" max="100" class="slider" id="Slider">
     <input type="submit" name="UpdateSpeed" value="Update Speed">
</form>

{% endblock %}
